# Prerequisites
GCC Compiler
Some Text editor

# Compiled Object files
*.o

# Precompiled Headers
nothing

# Compiled Dynamic libraries
nothing

# Fortran module files
nothing

# Compiled Static libraries
*.h

# Executables
*.exe
main
